/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
body {
  margin: 0;
}

h1, h2 {
      font-family: 'Akshar';
}

p {
    font-family: 'Actor';  
}

nav ul {
  list-style: none;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  gap: 50px; 
  background-color: #23294a;
  padding: 20px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}

a:link {
      color: white; 
        text-decoration: none; 
}

a:visited {
      color: white;
        text-decoration: none; 
}

a:hover {
      color: #7383d9; 
}

.hero-image {
     position: relative; 
 margin:0;
 padding:0;
 display: block;

}

.hero-image img {
    
width: 100%;
      height: 60%;
}

.hero-text {
      position: absolute;
      top: 50%;
     left: 40%; 
      transform: translate (-50%, -50%);
      color: white;  
      text-align: center;
}

.main-interview {
      display: flex;
      justify-content: space-between; 
      padding: 10px; 
      margin: 0 auto; 
      gap: 10px;
      width: 70%;
}

.main-interview img{
      height: 350px;
      width: 750px; 
}

.interviews-grid {
        display: grid;
      gap: 10px;
      margin-bottom: 8px; 
      place-items: center; 
      place-content: center; 
      grid-template-columns: repeat(4,1fr); 
      grid-auto-rows: 1fr;
      align-items: start; /*this is what lined up all of the items*/
}

.interviews-item {
      display: flex;
      flex-direction: column; 
      gap: 8px;
      
      align-items: center; 
      text-align: center; 
}

/* actor-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/actor-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* akshar-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/akshar-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
