/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
body {
  margin: 0;
  background-color: #f1f3f4; 
}

h1 {
     text-align: center;
}

h1, h2 {
      font-family: 'Akshar';
}

h2 {
     /* margin-left: 15px; */
}

p, a {
    font-family: 'Actor';  
}

nav ul {
  list-style: none;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  gap: 50px; 
  background-color: #23294a;
  padding: 20px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
 
}

a:link {
      color: white; 
        text-decoration: none; 
}

a:visited {
      color: white;
        text-decoration: none; 
}

a:hover {
      color: #7383d9; 
}

.hero-image {
     position: relative; 
 margin:0;
 padding:0;
 display: block;

}

.hero-image img {
    
width: 100%;
      height: 60%;
}

.hero-text {
      position: absolute;
      top: 50%;
     left: 50%; 
      transform: translate (-50%, -50%);
      color: white;  
      text-align: center;
}

.main-interview {
      display: flex;
      justify-content: space-between; 
      padding: 10px; 
      margin: 0 auto; 
      gap: 10px;
      width: 70%;
}

.main-interview img{
      height: 350px;
      width: 750px; 
}

.interviews-grid {
        display: grid;
      gap: 10px;
      margin-bottom: 8px; 
      place-items: center; 
      place-content: center; 
      grid-template-columns: repeat(4,1fr); 
      grid-auto-rows: 1fr;
      align-items: start; /*this is what lined up all of the items*/
}

.interviews-item {
      display: flex;
      flex-direction: column; 
      gap: 8px;
      
      align-items: center; 
      text-align: center; 
}

.instruments-item h2 {
      font-size: 30px; 
}

.instruments-grid {
        display: grid;
      gap: 10px;
      margin-bottom: 8px; 
      place-items: center; 
      place-content: center; 
      grid-template-columns: repeat(4,1fr); 
      grid-auto-rows: 1fr;
      align-items: start; /*this is what lined up all of the items*/
}


.instruments-item {
      display: flex;
      flex-direction: column; 
      gap: -20px;
      background-color: white; 
      align-items: center; 
      text-align: center; 
      box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
      height: 350px; 
      width: 330px; 
}

.instruments-item img {
      height: 150px; 
      /*width: 150px;*/
      width: auto; 
}
.gear-grid {
        display: grid;
      gap: 10px;
      margin-bottom: 8px; 
      place-items: center; 
      place-content: center; 
      grid-template-columns: repeat(4,1fr); 
      grid-auto-rows: 1fr;
      align-items: start; /*this is what lined up all of the items*/
}


.gear-item {
      display: flex;
      flex-direction: column; 
      
       box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
      height: 350px; 
      width: 330px; 
      align-items: center; 
      text-align: center; 
      gap: -20px;
       background-color: white; 
}

.gear-item img {
      width: 50px; 
      height: 50px; 
}


.gear-item h2 {
            font-size: 35px; 
}

.home-grid {
        display: grid;
      gap: 10px;
      margin-bottom: 8px; 
      place-items: center; 
      place-content: center; 
      grid-template-columns: repeat(4,1fr); 
      grid-auto-rows: 1fr;
      align-items: start; /*this is what lined up all of the items*/
}


.home-item {
      display: flex;
      flex-direction: column; 
      gap: 8px;
      
      align-items: center; 
      text-align: center; 
}

.home-item img {
      width: 300px; 
      height: 300px; 
}

.artist-item-1 {
      margin: 100px auto; 
}


.artist-item-2 {
      margin: 100px auto; 
}


.artist-item-3 {
      margin: 100px auto; 
}


.artist-item-4 {
      margin: 100px auto; 
}

.artist-1 {
      float: left;
      margin-right: 20px; 
        margin-left: 20px; 
      width: 20px; 
      height: 20px;
}

.artist-2 {
      float: left;
      margin-right: 20px; 
        margin-left: 20px; 
       width: 20px; 
      height: 20px;
}

.artist-3 {
      float: left;
      margin-right: 20px; 
        margin-left: 20px; 
       width: 20px; 
      height: 20px;
}

.artist-4 {
      float: left;
      margin-right: 20px; 
        margin-left: 20px; 
       width: 20px; 
      height: 20px;
}

.intro-text {
      text-align: center; 
}

.home-item h2 {
      font-size: 23px; 
}

#home-h2 {
      margin-left: 15px; 
      font-size: 30px; 
}

.home-instrument-item {
      margin-left: 15px;
}

.home-instrument-item h3 {
      font-size: 23px;
}

.home-instrument-item img {
      width: 375px; 
      heihgt: 466px; 
}


/* actor-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/actor-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Actor', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}
              

/* akshar-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Akshar';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/akshar-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Akshar', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}
              
