/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
body {
  margin: 0;
}


nav ul {
  list-style: none;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  gap: 50px; 
  background-color: #23294a;
  padding: 20px;
  margin: 0px;
  transition: all 0.3s ease-in-out;
}

a:link {
      color: white; 
        text-decoration: none; 
}

a:visited {
      color: white;
        text-decoration: none; 
}

a:hover {
      color: #7383d9; 
}

.hero-image {
     position: relative; 
 margin:0;
 padding:0;
 display: block;

}

.hero-image img {
    
width: 100%;
      height: 60%;
}

.hero-text {
      position: absolute;
      top: 50%;
     left: 40%; 
      transform: translate (-50%, -50%);
      color: white;  
      text-align: center;
}

.main-interview {
      display: flex;
      justify-content: space-between; 
      padding: 10px; 
      margin: 0 auto; 
}

.main-interview img{
      height: 350px;
      width: 750px; 
}

.main-text h1 {
      margin:0;
}

.main-text p {
      margin-right: 10px; 
}
